<div class="aside">
  <nav class="nav">
    <ul>
      <li><a href="/shits"><p  class="fas fa-home"></p></a></li>
      <li><a href="/videos"><p class="fas fa-play-circle"></p></a></li>
      <li><a href="/urls"><p class="far fa-file-alt"></p></a></li>
      <li><a href="/favorites"><p class="fas fa-star"></p></a></li>
    </ul>
  </nav>
</div> 