<header class="header">
  <div class="user">
    <div class="user-photo"></div>
    <div class="user-profile">Hi {{session.name}}</div>
    <form action="/user/logout" method="post">
      <button class="btn btn-send" type="submit"><i class="fas fa-plus"></i> logout</button>
    </form>
  </div>
  <div class="add-url">
    <form action="/shits/list" method="post">
      <input type="text" name="name" placeholder="Title...">
      <input type="text" name="url" placeholder="http://...">
      <button class="btn btn-send" type="submit"><i class="fas fa-plus"></i> add mierda</button>
    </form>
  </div>

</header>