.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $height-header;
  background-color: $blue-light;
  z-index: 999;
}

.user {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0 0 10px;
  &-photo {
    border-radius: 50%;
    background-color: $white;
    width: 40px;
    height: 40px;
    margin: 0 $margs 0 0;
    background: url(../img/mr-poo-color.png) no-repeat center;
    background-size: cover;
    @include border-radius(50%);
  }
  &-profile {
    color: #fff;
    font: {
      size: 1em;
      weight: bold;
    }
  }
}

.add-url {
  padding: 0 $margs 0 0;
  input {
    margin: 0 10px 0 0;
    padding: 10px;
    border: 0;
    background-color: $blue-dark;
    color: #fff;
    &::placeholder {
      color: $input-placeholder;
    }
  }
}