<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <title>Mis mierdas Login</title>
</head>
<body>
  <div class="register">
    <div class="register-poo">
      <div class="fly fly-1"><img src="./img/fly2.png"></div>
      <div class="fly fly-2"><img src="./img/fly2.png"></div>
      <div class="fly fly-3"><img src="./img/fly.png"></div>
      <form action="/user/google" method="post">
        <button class="btn btn-google" type="submit"><i class="fab fa-google"></i> Login</button>
      </form>
    </div>
  </div>
</body>
</html>
