<div class="content">
  <div class="row">
    <h1>videos</h1>
  </div>

  <ul>
    
    {{#each mierdas as |mierda| }}
      {{#if mierda.video}}  
      <li>
        <div class="box">
          <div class="zoom-nail">
            {{#if mierda.youtube}}  
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{mierda.youtubeId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {{/if}}  
          </div>
          <div class="icons">
            <form action="/user/mis-mierdas/{{mierda.id}}/delete" method="post">
              <button type="submit"><i class="fas fa-trash-alt"></i></button>
            </form> 
            <a href="{{mierda.url}}" target="_blank"><i class="fas fa-link"></i></a>
          </div>
        </div>
        <h2>{{mierda.name}}</h2>
      </li>
      {{/if}}
    {{/each}}
    
  </ul>
</div>
