<div class="content">
  <div class="row">
    <h1>Todas mis mierdas</h1>
    <form action="/user/mis-mierdas" method="post">
      <input type="text" name="name" placeholder="Title...">
      <input type="text" name="url" placeholder="http://...">
      <button class="sending-mierda" type="submit"><i class=""></i>send mierda</button>
    </form>
  </div>

  <ul>
    {{#each mierdas as |mierda| }}
    <li>{{mierda.name}}{{mierda.url}}</li>
    {{/each}}
    {{mierdas}}
    
  </ul>
</div>
