<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="">
  <form action="/register" method="post" class="">
    <button class="register" type="submit"><i class="fab fa-google"></i> Login with Google</button>
  </form>
</div>
</body>
</html>